body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #7429C6;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.container {
  background-color: #030616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border-radius: 20px;
}
.container h1 {
  font-size: 1.6rem;
  background: linear-gradient(90deg, rgb(116, 41, 198) 11%, rgb(201, 81, 231) 70%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.container .word-container {
  margin-top: 15px;
  background-color: #4A5567;
  width: 80%;
  border-radius: 6px;
}
.container .word-container p {
  color: #97A3B6;
  margin: 15px;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1rem;
}
.container .tries-mistakes {
  margin-top: 15px;
  width: 100%;
  color: #4A5567;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.container .tries-mistakes .tries-circles {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .tries-mistakes .circles {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .tries-mistakes .circle {
  background-color: #4A5567;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 5px;
}
.container .tries-mistakes span {
  font-size: 1.25rem;
  color: #97A3B6;
}
.container .inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .inputs .border {
  margin-top: 40px;
  border: 2px solid #4A5567;
  outline: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: #97A3B6;
  text-align: center;
  font-size: 1.5rem;
  font-family: inherit;
}
.container .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.container .buttons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 7px;
  height: 35px;
  width: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #F2F5F9;
  background-color: #C951E7;
  font-size: 1rem;
  padding: 20px 40px 25px 40px;
  font-family: inherit;
  box-shadow: inset 0rem -0.3rem #672171;
  cursor: pointer;
}
.container .buttons button:active {
  transform: translateY(4px);
}

.purple {
  background-color: #7429C6;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal {
  text-align: center;
  width: 10%;
  min-width: 320px;
  height: 320px;
  background-color: #333438;
  color: rgb(207, 204, 204);
  border-radius: 10px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.modal img {
  width: 150px;
  height: 150px;
}
.modal h2 {
  margin: 10px 0;
  font-size: 1.8rem;
}
.modal p {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 10px 0;
}

button {
  font-family: inherit;
  border: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  color: rgb(110, 108, 108);
  cursor: pointer;
  margin: 10px 0;
}/*# sourceMappingURL=styles.css.map */